/*Custom Style*/
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Bangers|Faster+One|Kaushan+Script|Orbitron|Righteous|VT323);
@import url(https://fonts.googleapis.com/css?family=Butcherman|Creepster|Nosifer|Qwigley);

body {
	font-family:'Lato', 'Arial', 'Helvetica', sans-serif;
}
.container.nomargin {
	margin:0;
	padding:0;
	width:100%;
}
.padding {
	padding:80px 0;
}
.img {
	max-width: 100%;
	height: auto;
}
.margin {
	margin: 90px 0;
}
.title {
	font-size:6em;
	font-weight: 700;
	display:block;
	color: #2d3436;
}
.title:hover{
	color: #636e72;
}
hr.star {
	margin:25px auto 30px;
	padding:0;
	max-width:50px;
	border:0;
	border-top:solid 3px;
	text-align:center;
	color:  #636e72;
}
hr.star:after {
	/*color:#fff;	
	content:"\2605";
	position:relative;
	top:-.8em;
	padding:0 .25em;
	font-size: 2.5em;
	background: #ecf0f1;*/
}


/* Navigation Styling */
.navbar {
	background: #ffffff;
	padding: 20px;
	border: 0;
}
.navbar .navbar-brand {
	color: #2d3436;
	font-size: 2.5em;
	font-weight: 900;
	font-family: 'Lato', cursive;
}
.navbar .navbar-brand:hover {
	color: #636e72;
	transition: .3s;
}
.navbar-inverse .navbar-nav>li>a {
	color: #2d3436;
	font-size: 1.5em;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #2ed573;
	font-size: 1.5em;
	transition: all .3s;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover {
	color: #2d3436;
	background:  #ffffff;
}
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a {
	background:  #ffffff;
}


/* Header Styling */
#header {
	background: #ecf0f1;
	color: #ecf0f1;
	    	    	    	/* The image used */
	background-image: url("../img/new_york.png");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header .icon {
	/*font-size: 30px;
	margin-top: 70px;
	display: block;*/
}
#header hr.star:after {
	color: #ecf0f1;
}
#header .skills {
	font-size: 2.75em;
	color: #ecf0f1;
}

#header hr.star:after{
	 color: #ecf0f1; 
}
/*down arrow icon*/

#header a {
	color: #2d3436;
}
#header a:hover {
	color: #636e72;
}



/* Work Styling */
#work {
	color: #2d3436;
	background: #ecf0f1;
}

#work .title {
	color: #2d3436;
	font-size: 4em;
}

#work img {

}
#work hr.star:after {
	color: #2d3436;
	background: #2d3436;
}

#work .portfolio-item {
	border-radius: 15px;
	height: 300px;
	background: #ecf0f1;
}

/*Hover effect*/
#work .portfolio-item img {
	border-radius: 15px;
	margin: 20px 0px;
	opacity: 1;
	transition: all .3s;
	box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.7);
}

#work .portfolio-item img:hover {
	margin: 5px 0px;
	opacity: .7;
}


/* Contact Styling */
#contact {	
	font-family: 'Lato', cursive;
	color: #2d3436;
	background: #ffffff;	
}
#contact .title {
	font-size: 4em;
	color: #2d3436;
}
#contact .has-secondary .form-control {
	color: #2d3436;
	outline: none;
}
#contact .has-secondary .control-label {
	border-color: #2d3436;
	color: #ecf0f1;
}

#contact hr.star {
	color: #636e72;
}

#contact hr.star:after {
	color: #ffffff;
	background: #ffffff;
}
#contact .btn-social {
	display: inline-block;
	width:80px;
	height:80px;
	/*border:3px solid #ffffff;
	border-radius:100%;*/
	text-align:center;
	font-size:80px;
	font-weight:900;
	line-height:45px;
}

#contact .btn-social i {
	color: #0077B5;
}

#contact .socials>li {
	margin: 25px 12px;
}
#contact .socials a {
	transition: all .2s;
}
#contact .socials>li:hover a {
	/*background: #ffffff;*/
}
#contact .socials>li:hover i {
	color: #2d98da;
}

#contact .btn-secondary {
	background: #636e72;	
}

#contact .btn-secondary:focus,
#contact .btn-secondary:hover {
	background: #b2bec3;

}
button {
	outline-color: #b2bec3;
}

/* Footer Styling */
footer {
	background: #ecf0f1;
	color: #2d3436;
}

footer p {
	padding: 10px 0;
	margin: 0;
}



/* ==== Media Queries ====*/

/* iPads (Tablets) ----------- */
@media only screen and (min-width: 768px) and (max-width : 1024px) {
/* Styles */

#header {
	padding-top: 100px;
}
.title {

}

.padding {

}

#work .portfolio-item {
	border-radius: 15px;
	height: 160px;
	background: #ecf0f1;
}

/*Hover effect*/
#work .portfolio-item img {
	border-radius: 15px;
	margin: 20px 0;
	opacity: 1;
	transition: all .3s;
}

#work .portfolio-item img:hover {
	margin: 20px 0;
	opacity: .7;
}

#contact  {
	
}

}

/* Iphone/Android (Small Devices) ----------- */
@media only screen and (min-width : 320px) and (max-width: 767px) {
/* Styles */

#header a {
	color: #ecf0f1;
}
#header a:hover {
	color: #ecf0f1;
}

#header .icon {
	/*font-size: 15px;
	margin-top: 10px;
	display: block;*/
}


.title {
	font-size:3em;
}

.skills {
	font-size: 1em;
}

#header .icon {

}

#work .portfolio-item {
	border-radius: 15px;
	height: 200px;
	background: #ecf0f1;
}

/*Hover effect*/
#work .portfolio-item img {
	margin: 0 auto;
	display: inline-block;
	width: 85%;
	height: 85%;
	border-radius: 15px;
	margin: 20px 0;
	opacity: 1;
	transition: all .3s;
}

#work .portfolio-item img:hover {
	margin: 20px 0;
	opacity: .7;
}

#contact .btn-social {
	display:inline-block;
	width:35px;
	height:35px;
	border:2px solid #2d3436;
	border-radius:100%;
	text-align:center;
	font-size:16px;
	font-weight:900;
	line-height:30px;
}

#contact .socials>li {
	margin: 15px 2px;
}

.margin.no_margin_mobile {

}


.contact-form button.pull-right {
	
}

.social-media {
	margin-top: 30px;
}

.margin .mobile_only {
	display: none;
}

}